[Desktop Entry]
Type=Application
Name=Super key opens Whisker menu
Comment=Open Whisker when Super is tapped; preserve Super modifier shortcuts
Exec=/home/devin/.local/bin/xcape-super-whisker
OnlyShowIn=XFCE;
Terminal=false
StartupNotify=false
X-GNOME-Autostart-enabled=true
